.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  overflow: hidden;
  input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #16a34a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
}
